*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
a, li{
    list-style: none;
    text-decoration: none;
    color: white;
}
section{
    width: 100%;
    min-height: 100vh;
    background: url(IMG/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(59, 146, 25);
    position: relative;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    width: 100%;
    height: 200px;
}
nav a img{
    width: 100px;
}

section .nav-links a{
    padding: 0 10px;
    display: inline-block;
}
.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    transition: 1s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
section .text{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
section .text h2{
    font-size: 4rem;
    padding: 5px 0 20px;
}
section .text p{
    font-size: 20px;
}
section .text button{
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid white;
    margin: 15px;
    color: white;
    backdrop-filter: blur(2px);
}
section .text button:hover{
    background-color: rgb(59, 146, 25);
    cursor: pointer;
    
}
section .text button:hover{
    font-weight: bold;
    color: white;
}
nav .bi{
    display: none;
    
}
@media only screen and (max-width: 830px) {
   section .text h2{
    font-size: 2rem;
   }
   section .text p{
    font-size: 1rem;
   }
   nav{
    padding: 0;
   }
   .nav-links .bi{
    margin: 15px;
    cursor: pointer;
    display: block;
   }
   nav .bi{
    display: block;
    font-size: 40px;
    cursor: pointer;
    margin: 15px;
   }
   nav a{
    padding: 20px;
   }
   section .nav-links{
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: rgba(59, 146, 25, 0.863) ;
    backdrop-filter: blur(1px);
    top: 0;
    right: 0;
    display: none;
    transition: 1s ease-in-out;
    z-index: 100;
    
   }
   section .nav-links a{
    display: block;
    padding: 5px;
   }
   section .nav-links li{
    margin: 10px;
   }
}
@media(max-width:340px){
    section .nav-links{
        width: 100%;
    }
}